# Code Owner for figma-component-list-generator repository
# Official Docs: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global Code Owner (will be overridden if later match takes precedence)
*       @e-sung @pjhjohn
